body{
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: silver;
}
.navbar {
    width: 100%;
    height: 20vh;
    display:flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 4px 0px gray;
}
.navbar ul a{
   
    text-decoration: none;
    margin-inline: 25px;
    color: black;

}
.navbar ul li{
    list-style: none;
    color: aqua;
}
.navbar ul{
    margin-right: 26px;
    display: flex;
    margin-top: 30px;
}
.navbar ul a:hover{
    color: red;
    border-bottom: 2px solid red;
}
.navbar button{
    width: 80px;
    height:  30px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
}
.navbar .logo{
    margin-left: 23px;
}
.main{
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;

}
.image{
    height: 450px;
    width: 50%;
   
    
}
.mainText{
    margin-top: 33px;
}
.mainText h1{
    font-size: 53px;
}
.mainText h2{
    font-size: 44px;
    color: rgb(8, 165, 165);
}
.main img{
    /* margin-right: -145px; */
}
.main button{
    width: 140px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 24px;
    border: none;
}
.mainText button:hover{
border: 3px solid rgb(161, 23, 23);
background-color: transparent;
color: black;
cursor: pointer;
}
.navbar button:hover{
    border: 2px solid red;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.head{
    text-align: center;
    margin-top: 45px;
    padding: 55px;
}
.head span{
    color: rgb(48, 165, 165);
}
.card{
    display: flex;
    justify-content: center;
}
.card .trend{
    width: 280px;
    background-color: white;
    margin-inline: 22px;
}
.trend img{
    width: 100%;
    height: 64%;
}
.trend .cardText{
    padding: 10px;
}
.trend i{
    color: rgb(236, 236, 6);
    font-size: 22px;
}
.trend button{
    width: 90px;
    height: 28px;
    background-color: red;
    font-size: 12px;
    border-radius: 22px;
    border: none;
    color: white;
    margin-left: 33px;

}
.card .trend:hover{
    background-color: gray;
    width: 294px;
    color: white;
    transition: 0.6s ease;


}
.blog{
    display: flex;

    justify-content: center;
}
.blogCard{
    display: flex;
    margin-inline: 22px;
    width: 500px;
}
.blogCard img{
    width: 44%;
}


/*yyy*/
.customer{
    display: flex;
    justify-content: center;
}
.customer .review{
    width: 280px;
    height: 55vh;
    background-color: white;
    margin-inline: 23px;
}
.review img{
    width: 30%;
    border-radius: 50%;
    padding: 24px;
    
}
.review i{
    color: orange;
    font-size: 24px;
}
.contactpage{
    border: 4px solid rgb(8, 165, 165);
    text-align: center;
    padding: 44px;
    width: 500px;
    margin-left: 28%;
}
.contactpage input{
    width: 400px;
    padding: 9px;
    font-size: 18px;
    outline: none;
    margin-top: 11px;
    
}
.contactpage button{
    width: 140px;
    height: 37px;
    background-color: rgb(8, 163, 163);
    color: white;
    font-size: 22px;
    border: none;
    margin-top: 22px;
}
.contactpage button:hover{
    border: 3px solid rgb(15, 196, 196);
    background-color: transparent;
    color: black;

}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    color: black;
    padding: 55px;
    margin-top: 55px;
}